<h1> You played Rock! </h1>

<a href="/rock"> Replay rock?</a>
<a href="/scissors">Play scissors</a>
<a href="/paper">Play paper</a>
<h1>
  The computer played
  <%= @computer_move %>
</h1>

<h1>
 You <%= @outcome %> !
</h1>
