<h1> You played Scissors!</h1>

<a href="/scissors">Replay scissors?</a>
<a href="/paper"> Play paper </a>
<a href="/rock">Play rock</a>
<h1>
  The computer played
  <%= @computer_move %>
</h1>

<h1>
 You <%= @outcome %> !
</h1>
